@CHARSET "UTF-8";

body {
	margin: 0;
  padding-top: 0;
  color: #666;
  background: #FDF9FF;
  font: 400 14px/1.6 "Open Sans", sans-serif;
  background: rgba(255,255,255,.9);
}
	
div#all {
	margin: auto;
	width: 600px;
	//font-family: "Arial", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Verdana", "sans-serif";
  padding: 10px 30px;
}

div#all h2 {
	text-align: center;
}

span#join_span {
	text-align: center;
}

span#join_span input{
  border: 1px solid #CCC;
  height: 30px;
  margin: 20px auto;
}

span.code {
	font-family: courier, verdana;
}

p#ng_at_glance {
	margin-top: 30px;
}


header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer {
	text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
	
img#nglogo {}

div#banners {
  text-align: center;
  padding-top: 20px;
}

img.banner_full {
  margin: 20px;
  height: 100px;
}

img.banner {
	margin: 20px;
  width: 100px;
}

hr {
	margin: 40px 10px 40px 10px;
}

